/* You can add global styles to this file, and also import other style files */

.body {
  background-color: #00FA9A;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #3CB371 !important;
  border-color: #3CB371 !important;
  color: #ffffff !important;
}
