/* You can add global styles to this file, and also import other style files */

.body {
  background-color: #B0C4DE;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #1976d2 !important;
  border-color: #1976d2 !important;
  color: #ffffff !important;
}
